.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.layout{
    background-color: #f6f9fa ;
}


.logo {
  height: 32px;
  margin: 16px 0;
  text-align: center;
  font-size: 1.5em;
  color: #fcfdfd;
}

.span{
    color: #f3f7f6
}